button{
  display: inline-block;
  padding: 0;
  margin: 0;
  border:0;
  outline: 0;
  background: transparent;
  cursor: pointer;
  text-align: center;
}
button:hover{
  opacity: .9;
}

.cta-button{
  text-align: center;
  padding:1rem 2rem;
  background: #595fa8;
  color:#fff;
  font-weight: 700;
  margin:auto;
  border-radius: 5px;
  position: relative;
  display: block; 
}

.cta-button-small{
  text-align: center;
  padding:.2rem .5rem;
  background: #595fa8;
  color:#fff;
  font-weight: 700;
  margin:auto;
  border-radius: 3px;
  position: relative;
  display: block; 
}

.cta-button.--warning{
  background:tomato;
}

.cta-button-small.--warning{
  background:tomato;
}

.small-button{
  padding:.5rem;
  background: #595fa8;
  color:#fff;
}