.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}

.flex-row{
  flex-direction: row;
}

.flex-between{
  justify-content: space-between;
}

.flex-1{
  flex : 1;
}
.flex-2{
  flex : 2;
}
.flex-3{
  flex : 3;
}