.slide-component {
  background: #fff;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 1rem;

}
.slide-component .header{
  padding:1rem;
  margin:-1rem;
  margin-bottom: 0;
  //background:rgb(236, 236, 236);
  border-radius: 5px 5px 0 0;
}